nav {
    position: fixed;
    width: 1024px;
    top: 24px;
    border-radius: 0px 0px 10px 10px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
}